In [2]:
import pandas as pd
import ast

### BPRMF, Grocery and Gourmet Food

In [13]:
prediction_path  = "log/BPRMF/BPRMF__/Users/ASUS/Downloads/lab_ML/big_homework/ori_ReChorus/data/Grocery_and_Gourmet_Food__0__lr=0/rec-BPRMF-test.csv"

def parse_array(column_value):
    try:
        # Replace non-standard types with Python-native ones
        clean_value = column_value.replace("np.int64", "").replace("np.float32", "")
        return ast.literal_eval(clean_value)
    except Exception as e:
        print(f"Error parsing: {column_value}\n{e}")
        return []

predictions = pd.read_csv(
    prediction_path,
    sep='\t',  # Tab-separated
    converters={
        'rec_items': parse_array,
        'rec_predictions': parse_array,
    }
)

predictions.sample(5)

,user_id,rec_items,rec_predictions
11825,11826,"[8684, 5998, 5381, 4813, 5151, 3814, 3043, 233...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
12559,12560,"[5801, 1126, 8289, 5881, 20, 965, 4720, 4737, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1900,1901,"[8665, 6283, 2177, 8612, 3418, 8705, 3842, 566...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
10691,10692,"[8086, 3402, 6027, 2685, 21, 3649, 2217, 1120,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1260,1261,"[8038, 792, 2220, 8638, 2476, 3445, 3830, 578,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [16]:
test_path = "data/Grocery_and_Gourmet_Food/test.csv"

test = pd.read_csv(test_path, sep='\t', converters={'neg_items': ast.literal_eval})
test.sample(5)

,user_id,item_id,time,neg_items
1212,7979,2511,1339718400,"[933, 3319, 4074, 6130, 1269, 1303, 3256, 4177..."
295,11530,2164,1280707200,"[307, 3356, 7106, 3696, 3318, 1253, 1849, 3718..."
5122,13626,6657,1383696000,"[896, 7303, 5502, 2645, 2011, 8420, 992, 3867,..."
13720,11151,8513,1404518400,"[5468, 715, 6083, 1301, 6787, 4555, 2060, 825,..."
342,1034,3128,1290816000,"[6782, 170, 1653, 8647, 6074, 5223, 5716, 4796..."

In [17]:
merged = predictions.merge(test, on="user_id", how="inner")

In [18]:
true_positives = 0
false_positives = 0
false_negatives = 0

In [19]:
for _, row in merged.iterrows():
    predicted_items = row['rec_items']
    positive_item = row['item_id']

    if positive_item in predicted_items:
        true_positives += 1
    else:
        false_negatives += 1

    false_positives += len([item for item in predicted_items if item != positive_item])

In [20]:
precision = true_positives / (true_positives + false_positives) if (true_positives + false_positives) > 0 else 0
recall = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) > 0 else 0
f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

accuracy = true_positives / len(merged)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1_score:.4f}")

Accuracy: 1.0000
Precision: 0.0100
Recall: 1.0000
F1 Score: 0.0198

### BPRMF, Movie Lens 1M TopK

In [21]:
prediction_path  = "log/BPRMF/BPRMF__/Users/ASUS/Downloads/lab_ML/big_homework/ori_ReChorus/data/MovieLens_1M/ML_1MTOPK__0__lr=0/rec-BPRMF-test.csv"

def parse_array(column_value):
    try:
        # Replace non-standard types with Python-native ones
        clean_value = column_value.replace("np.int64", "").replace("np.float32", "")
        return ast.literal_eval(clean_value)
    except Exception as e:
        print(f"Error parsing: {column_value}\n{e}")
        return []

predictions = pd.read_csv(
    prediction_path,
    sep='\t',  # Tab-separated
    converters={
        'rec_items': parse_array,
        'rec_predictions': parse_array,
    }
)

predictions.sample(5)

,user_id,rec_items,rec_predictions
522,1091,"[1394, 2246, 1805, 2124, 2208, 2799, 1719, 398...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1746,4155,"[3001, 898, 1782, 523, 2721, 1837, 264, 1613, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2429,5166,"[2091, 1768, 1365, 697, 3097, 2414, 3024, 1590...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2671,5437,"[1224, 2354, 1929, 2180, 879, 1659, 1437, 1829...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
34,25,"[3061, 2311, 2068, 1073, 96, 332, 737, 1406, 8...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [22]:
test_path = "data/MovieLens_1M/ML_1MTOPK/test.csv"

test = pd.read_csv(test_path, sep='\t', converters={'neg_items': ast.literal_eval})
test.sample(5)

,user_id,item_id,time,c_hour_c,c_weekday_c,c_period_c,c_day_f,neg_items
234,1627,234,1.038192e+09,10,0,1,943,"[2498, 1788, 862, 839, 2123, 2654, 132, 1789, ..."
2416,3544,1952,1.044901e+09,2,1,8,1021,"[31, 1517, 2719, 3098, 1146, 827, 1077, 266, 1..."
1465,4613,968,1.042074e+09,8,3,0,988,"[2551, 785, 768, 1526, 750, 3078, 1640, 2739, ..."
2284,3310,82,1.044567e+09,5,4,0,1017,"[2915, 108, 644, 466, 610, 2251, 2737, 1595, 7..."
2788,2658,40,1.046188e+09,23,1,7,1035,"[1897, 1748, 2645, 1170, 2903, 2078, 1726, 571..."

In [23]:
merged = predictions.merge(test, on="user_id", how="inner")

true_positives = 0
false_positives = 0
false_negatives = 0

for _, row in merged.iterrows():
    predicted_items = row['rec_items']
    positive_item = row['item_id']

    if positive_item in predicted_items:
        true_positives += 1
    else:
        false_negatives += 1

    false_positives += len([item for item in predicted_items if item != positive_item])

precision = true_positives / (true_positives + false_positives) if (true_positives + false_positives) > 0 else 0
recall = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) > 0 else 0
f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

accuracy = true_positives / len(merged)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1_score:.4f}")

Accuracy: 0.0171
Precision: 0.0002
Recall: 0.0171
F1 Score: 0.0003

### SASRec, Grocery and Gourmet Food

In [3]:
prediction_path  = "log/SASRec/SASRec__/Users/ASUS/Downloads/lab_ML/big_homework/ori_ReChorus/data/Grocery_and_Gourmet_Food__0__lr=0/rec-SASRec-test.csv"

def parse_array(column_value):
    try:
        # Replace non-standard types with Python-native ones
        clean_value = column_value.replace("np.int64", "").replace("np.float32", "")
        return ast.literal_eval(clean_value)
    except Exception as e:
        print(f"Error parsing: {column_value}\n{e}")
        return []

predictions = pd.read_csv(
    prediction_path,
    sep='\t',  # Tab-separated
    converters={
        'rec_items': parse_array,
        'rec_predictions': parse_array,
    }
)

predictions.sample(5)

,user_id,rec_items,rec_predictions
4572,4573,"[5692, 5369, 5856, 6890, 4383, 6584, 638, 42, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3972,3973,"[3484, 7540, 4817, 3321, 2225, 3111, 6542, 238...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
7811,7812,"[1529, 5217, 5058, 2539, 6821, 1319, 890, 5865...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
13379,13380,"[5123, 5435, 4569, 3206, 2205, 6879, 2419, 455...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
7449,7450,"[7897, 5524, 6686, 1137, 507, 8137, 5710, 5418...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [4]:
test_path = "data/Grocery_and_Gourmet_Food/test.csv"

test = pd.read_csv(test_path, sep='\t', converters={'neg_items': ast.literal_eval})
test.sample(5)

,user_id,item_id,time,neg_items
3400,6051,6004,1372636800,"[3574, 2819, 559, 924, 6764, 6306, 6207, 655, ..."
12128,2759,2100,1402444800,"[1291, 2469, 600, 1624, 7885, 3273, 8453, 3151..."
9641,8905,8484,1397692800,"[3291, 7198, 8410, 5839, 7591, 1588, 170, 7132..."
7131,2591,7941,1391126400,"[7194, 110, 3749, 1812, 1414, 3317, 1555, 423,..."
8554,14651,8546,1395014400,"[4425, 7265, 513, 3575, 3118, 6982, 3687, 325,..."

In [5]:
merged = predictions.merge(test, on="user_id", how="inner")

true_positives = 0
false_positives = 0
false_negatives = 0

for _, row in merged.iterrows():
    predicted_items = row['rec_items']
    positive_item = row['item_id']

    if positive_item in predicted_items:
        true_positives += 1
    else:
        false_negatives += 1

    false_positives += len([item for item in predicted_items if item != positive_item])

precision = true_positives / (true_positives + false_positives) if (true_positives + false_positives) > 0 else 0
recall = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) > 0 else 0
f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

accuracy = true_positives / len(merged)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1_score:.4f}")

Accuracy: 1.0000
Precision: 0.0100
Recall: 1.0000
F1 Score: 0.0198

### SASRec, Movie Lens 1M TopK

In [3]:
prediction_path  = "log/SASRec/SASRec__/Users/ASUS/Downloads/lab_ML/big_homework/ori_ReChorus/data/MovieLens_1M/ML_1MTOPK__0__lr=0/rec-SASRec-test.csv"

def parse_array(column_value):
    try:
        # Replace non-standard types with Python-native ones
        clean_value = column_value.replace("np.int64", "").replace("np.float32", "")
        return ast.literal_eval(clean_value)
    except Exception as e:
        print(f"Error parsing: {column_value}\n{e}")
        return []

predictions = pd.read_csv(
    prediction_path,
    sep='\t',  # Tab-separated
    converters={
        'rec_items': parse_array,
        'rec_predictions': parse_array,
    }
)

predictions.sample(5)

,user_id,rec_items,rec_predictions
2177,4639,"[1029, 2773, 1735, 2216, 1749, 2853, 2008, 101...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2576,5413,"[2863, 282, 1969, 2990, 3116, 398, 596, 1211, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
57,100,"[3083, 1614, 1123, 263, 2898, 973, 1382, 1374,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1538,3672,"[3125, 1190, 2846, 2383, 2861, 1370, 1584, 247...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1880,4395,"[1787, 595, 2681, 612, 62, 1276, 3111, 1424, 9...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [4]:
test_path = "data/MovieLens_1M/ML_1MTOPK/test.csv"

test = pd.read_csv(test_path, sep='\t', converters={'neg_items': ast.literal_eval})
test.sample(5)

,user_id,item_id,time,c_hour_c,c_weekday_c,c_period_c,c_day_f,neg_items
237,1627,2226,1.038192e+09,10,0,1,943,"[2640, 2867, 1992, 2172, 804, 2067, 1804, 2874..."
700,1435,2821,1.039506e+09,15,1,3,958,"[2515, 146, 89, 1399, 3031, 2365, 2864, 1470, ..."
1133,4659,2490,1.041614e+09,1,5,8,983,"[1485, 1587, 2267, 281, 631, 2088, 311, 245, 1..."
80,2284,186,1.037754e+09,8,2,0,938,"[2757, 2558, 437, 1482, 1258, 2556, 961, 984, ..."
717,3620,38,1.039613e+09,21,2,6,959,"[1574, 1117, 1491, 1014, 2920, 743, 2954, 1631..."

In [5]:
merged = predictions.merge(test, on="user_id", how="inner")

true_positives = 0
false_positives = 0
false_negatives = 0

for _, row in merged.iterrows():
    predicted_items = row['rec_items']
    positive_item = row['item_id']

    if positive_item in predicted_items:
        true_positives += 1
    else:
        false_negatives += 1

    false_positives += len([item for item in predicted_items if item != positive_item])

precision = true_positives / (true_positives + false_positives) if (true_positives + false_positives) > 0 else 0
recall = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) > 0 else 0
f1_score = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

accuracy = true_positives / len(merged)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1_score:.4f}")

Accuracy: 0.0171
Precision: 0.0002
Recall: 0.0171
F1 Score: 0.0003